<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- INCLUDE THIS KEY IN CONFIG FILE OF YOUR APPLICATION -->
		<!--<add key="TacsDbConnection" value="Server=xena.cspot-interworks.com;Database=TacsDb2;Trusted_Connection=Yes;"/>-->
		<!-- DEVELOPMENT DATABASE KEY-->
		<add key="TacsDbConnection" value="Server=xena.cspot-interworks.com;Database=TacsDb_Design_0003;Trusted_Connection=Yes;"/>
	</appSettings>
</configuration>