<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="iCampaign.TACS.Data.Properties.Settings.TacsDb_Design_0001ConnectionString"
            connectionString="Data Source=ceres.mycspot.local;Initial Catalog=TacsDb2_dev;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>